<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>

    <!-- archivo de estilos CSS -->
    <link rel="stylesheet" href="../styles/addProduct.css">

    <!--Bootstrap Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Enlaza la hoja de estilo de Bootstrap para dar formato al formulario. -->


    <!--Bootstrap Script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!-- Incluye el script de Bootstrap para el funcionamiento de los elementos Bootstrap. -->

</head>

<body>
    <form id="form">
        <!-- Define un contenedor para las alertas y le aplica clases de estilo. -->
        <div class="alert-container mt-5 cardForm">
            <h1 class="nuevoProducto text-center"> Agregar nuevo Producto</h1>
            <!-- Crea una fila para organizar los elementos del formulario en dos columnas. -->
            <div class="row">

                <!-- Primer div a la izquierda -->
                <div class="col-md-6 mt-3">
                <!-- Define una columna para la parte izquierda del formulario. -->
                    <div class="form-group">
                        <label for="nombreProducto" class="form-label colorLabel">Nombre del Producto</label>
                        <input type="text" class="form-control" id="nombreProducto" name="nombreProducto">
                        <!-- Contenedor de alerta para errores en el nombre del producto. -->
                        <div id="alertaNombreProducto" class="alert alert-danger mt-2" role="alert" style="display: none;"></div>
                    </div>

                    <div class="form-group mt-5">
                        <label for="id_product" class="form-label colorLabel">ID del Producto</label>
                        <input type="text" class="form-control" id="id_product" name="nombreProducto">
                        <!-- Contenedor de alerta para errores en el nombre del producto. -->
                        <div id="alertaidProducto" class="alert alert-danger mt-2" role="alert" style="display: none;"></div>
                    </div>

                    <div class="form-group mt-5">
                        <label for="precio" class="form-label colorLabel">Precio</label>
                        <input type="number" class="form-control" id="precio"  name="precio" placeholder="$">
                        <!-- Contenedor de alerta para errores en el precio. -->
                        <div id="alertaPrecio" class="alert alert-danger mt-2" role="alert" style="display: none;"></div>
                    </div>

                    <div class="form-group mt-5">
                        <label for="inputAddress" class="form-label colorLabel">Categoria</label>
                        <input type="text" class="form-control" id="categoria" name="categoria">
                        <!-- Contenedor de alerta para errores en la categoría. -->
                        <div id="alertaCategoria" class="alert alert-danger mt-2" role="alert" style="display: none;"></div>
                    </div>
                </div>

                <!-- Segundo div a la derecha -->
                <div class="container col-md-6">
                    <!-- Define una columna para la parte derecha del formulario. -->
                    <div class="form-group mt-3">
                        <label for="descripcion" class="form-label colorLabel">Descripción</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" placeholder="Tamaño, Colores, Material"
                            rows="7"></textarea>
                            <!-- Contenedor de alerta para errores en la descripcion. -->
                        <div id="alertaDescripcion" class="alert alert-danger mt-2" role="alert" style="display: none;"></div>
                    </div>

                    <div class="container  mt-2 imagen">
                        <div>
                            <label for="imagenFuente" class="form-label colorLabel">Imagen Link</label>
                            <input type="text" class="form-control" id="imagenFuente" name="imagen">
                            <div id="alertaFoto" class="alert alert-danger mt-2" role="alert" style="display: none;"></div>
                        </div>
                        <!-- <div class="d-flex justify-content-center">
                            <img class="img-fluid imgEjemplo" src="../resources/logo/Subir.jpg" alt="avatar" id="img">
                        </div> -->
                    </div>
                </div>
                <!-- Botón para enviar el formulario. -->
                <div class="d-flex justify-content-center mt-20">
                    <button type="submit" class="btn btn-primary mt-3">Cargar</button>
                    <a href="./visualizacionProduct.html" id="verValoresBtn">Ver Valores Ingresados</a>
                </div>
            </div>
        </div>
    </form>
    <div id="datosIngresados"></div>

    <!-- Link pagina JS -->
    <script src="../Js/addProduct.js"></script>
</body>

</html>