<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <!--Bootstrap Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Enlaza la hoja de estilo de Bootstrap para dar formato al formulario. -->

    <!--Bootstrap Script-->
    <script src="https://kit.fontawesome.com/991fef38dd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <!--Fontawesome Iconos-->
    <script src="https://kit.fontawesome.com/991fef38dd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <link rel="stylesheet" href="../styles/catalogo.css">

</head>

<body>

     <!-- Barra de navegacion -->
     <nav class="barranav">
        <div class="d-flex flex-row justify-content-evenly" id="navbarNav">
            <!-- Input de busqueda en el catalogo -->
            <div class="d-flex mt-3 w-25 d-none d-md-block">
                <div class="d-flex flex-row w-75 busqueda">
                    <button class="btn d-flex justify-content-center border-0" type="submit">
                        <i class="material-symbols-outlined ">Search</i>
                    </button>
                    <input class="border-0 entrada" type="search" placeholder="Buscar" aria-label="Search">
                </div>
            </div>
            <!-- Logo -->
            <div class="container-fluid d-flex justify-content-center w-50">
                <a class="navbar-brand " href="./paginaPrincipal.html">
                    <img src="../resources/logo/logo.png" width="270" height="100"
                        class="d-inline-block align-top img-fluid" alt="">
                </a>
            </div>
            <!-- Botones  -->
            <div class="d-flex flex-row align-items-center justify-content-end w-25">
                <div class="d-flex ms-4 justify-content-start d-none d-md-block">
                    <a class="navbar-brand" href="./listaDeseos.html">
                        <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                                    class="d-inline-block align-text-top"> -->
                        <i class="material-symbols-outlined">Favorite</i>
                    </a>
                </div>
                <div class="d-flex ms-4 justify-content-start d-none d-md-block">
                    <a class="Person-icon" id="btnUser" href="#">
                        <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                                class="d-inline-block align-text-top"> -->
                        <i class="material-symbols-outlined">Person</i>
                    </a>
                </div>
                <div class="d-flex ms-4 me-3 justify-content-start d-none d-md-block">
                    <a class="shopping-cart-icon" href="./carritoCompra.html">
                        <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                                    class="d-inline-block align-text-top"> -->
                        <i class="material-symbols-outlined">Shopping_Cart</i>
                    </a>
                </div>
                <div class="d-flex ms-4 justify-content-start d-block d-md-none">
                    <a class="menu-icon" href="#">
                        <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                                    class="d-inline-block align-text-top"> -->
                        <button class="menucollapse" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu"><i
                                class="material-symbols-outlined">Menu</i></button>
                    </a>
                </div>
            </div>
            <!-- Este es el div que colapsa cuando la pantalla es de un movil -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <div class="container-fluid d-flex justify-content-center w-50">
                        <a class="navbar-brand " href="#">
                            <img src="../resources/logo/logo.png" width="270" height="100"
                                class="d-inline-block align-top img-fluid" alt="">
                        </a>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="d-flex w-100">
                    <div class="d-flex flex-row w-100 busqueda">
                        <button class="btn d-flex justify-content-center border-0" type="submit">
                            <i class="material-symbols-outlined ">Search</i>
                        </button>
                        <input class="border-0 entrada" type="search" placeholder="Buscar" aria-label="Search">
                    </div>
                </div>
                <div class="d-flex ms-3 mt-3 justify-content-start">
                    <a class="navbar-brand" href="./listaDeseos.html">
                        <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                                    class="d-inline-block align-text-top"> -->
                        <div class="letrasCanvas d-flex flex-row">
                            <i class="material-symbols-outlined">Favorite</i>
                            <p class="ms-3">Carrito de Compra</p>
                        </div>
                    </a>
                </div>
                <div class="d-flex ms-3 mt-2 justify-content-start">
                    <a class="navbar-brand" href="#">
                        <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                                class="d-inline-block align-text-top"> -->
                                <div class="letrasCanvas d-flex flex-row">
                                    <i class="material-symbols-outlined">Person</i>
                                    <p class="ms-3">Perfil</p>
                                </div>
                    </a>
                </div>
                <div class="d-flex ms-3 mt-2 justify-content-start">
                    <a class="navbar-brand" href="./carritoCompra.html">
                        <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                                    class="d-inline-block align-text-top"> -->
                        <div class="letrasCanvas d-flex flex-row">
                            <i class="material-symbols-outlined">Shopping_Cart</i>
                            <p class="ms-3">Carrito de Compra</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-nav"></div>
    </nav>
    <!--Fin Navbar-->

    <div class="container-fluid titulo mt-3">
        <h1>Catálogo</h1>
    </div>
    <div class="controles">
        <div class="row">
            <div class="col-md-6">
                <div class="precios">
                    <h2 class="subtitulo text-center">Filtrar por precio</h2>
                    <div class="d-flex flex-column align-items-center">
                        <div class="d-flex flex-row justify-content-around">
                            <label class="precioMinimo">$0</label>
                            <input type="range" class="form-range w-75" min="0" max="500" id="customRange1" style="touch-action: none;">
                            <label class="precioMaximo"></label>
                        </div>
                        <div class="d-flex flex-row justify-content-around">
                            <label class="precioMarcado"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="categorias">
                    <h2 class="subtitulo text-center">Filtrar por categorías</h2>
                    <div class="d-flex justify-content-center">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-Amigurumis">
                                <input type="checkbox" id="flexCheckAmigurumis"> Amigurumis
                            </label>
                            <label class="btn btn-Ropa">
                                <input type="checkbox" id="flexCheckRopa"> Ropa
                            </label>
                            <label class="btn btn-Accesorios">
                                <input type="checkbox" id="flexCheckAccesorios"> Accesorios
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="principal d-flex flex-row flex-wrap justify-content-around">
        <!-- Contenido principal -->
    </div>

    <script type="module" src="../Js/catalogo.js"></script>
</body>


</html>