<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <!--Bootstrap Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Enlaza la hoja de estilo de Bootstrap para dar formato al formulario. -->

    <!--Bootstrap Script-->
    <script src="https://kit.fontawesome.com/991fef38dd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <link rel="stylesheet" href="../styles/catalogo.css">

</head>

<body>
    <div class="container-fluid titulo">
        <h1>Catálogo</h1>
    </div>
    <div class="d-flex flex-row controles">
        <div class="precios col-md-6">
            <h2 class="subtitulo">Filtrar por precio</h2>
            <div class="p-2 d-flex flex-column align-items-evenly">
                <div class="p-2 d-flex flex-row justify-content-around">
                <label class="precioMinimo">$0</label>
                <input type="range" class="form-range w-75" min="0" max="500" id="customRange1">
                <label class="precioMaximo"></label>
                </div>
                <div class="p-2 d-flex flex-row justify-content-around">
                    <label class="precioMarcado"></label>
                </div>
            </div>
        </div>
       
        <div class="categorias col-md-6 mr-4">
            <h2 class="p-2 subtitulo d-flex justify-content-end">Filtrar por categorías</h2>
            <div class="p-1">
                <div class="d-flex justify-content-end">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-Amigurumis">
                            <input type="checkbox" id="flexCheckAmigurumis"> Amigurumis
                        </label>
                        <label class="btn btn-Ropa">
                            <input type="checkbox" id="flexCheckRopa"> Ropa
                        </label>
                        <label class="btn btn-Accesorios">
                            <input type="checkbox" id="flexCheckAccesorios"> Accesorios
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="principal d-flex flex-row col-md-12 flex-wrap justify-content-around">

    </div>
    

    <script type="module" src="../Js/catalogo.js"></script>
</body>

</html>