<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="../styles/contact.css">

  <!--Bootstrap Link-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!--Bootstrap Script-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</head>

<body>
  <div class="container-fluid text-center pt-5">
    <div class="row justify-content-center align-items-center mx-auto cardForm">
      <div class="col">
        <form id="contactForm">
          <h1 class="contact text-center">Contáctanos</h1>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre">
            <div class="alert alert-danger"  id="invalidoNombre" style="display: none">
              <!--Ingrese nombre-->
            </div>
          </div>
          <div class="mb-3">
            <label for="correo" class="form-label">Correo electrónico</label>
            <input type="text" class="form-control" id="correo">
            <div class="alert alert-danger" id="invalidoCorreo" style="display: none">
              <!---Ingrese correo-->
        </div>
          </div>
          <div>
            <label class="mb-2" for="mensaje">Mensaje</label>
            <textarea class="form-control" placeholder="Nos encantaría saber tu opinión" id="mensaje"
              rows="6"></textarea>
              <div class="alert alert-danger" id="invalidoMensaje" style="display: none">
                <!--Ingrese mensaje-->
              </div>
          </div>

          <div id="exito" class="alert alert-success" style="display: none;"></div>

          <div>
            <button type="submit" class="btn btn-primary mt-3">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Link JS -->
  <script src="./Js/contactanos.js"></script>

</body>

</html>