<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../styles/stylesFooter.css">

    <!--Bootstrap Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--Bootstrap Script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!--Fontawesome Iconos-->
    <script src="https://kit.fontawesome.com/991fef38dd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />


</head>
<body>
    <!-- Footer -->
    <footer class="containerFooter-fluid">

        <div class="redesFooter" >

            <div class="saludoFooter">
                Conoce mas sobre nosotros
            </div>

        </div>

        <div class="iconosRedesFooter">
            <a href="https://www.facebook.com/decrochetyotrostemas?mibextid=ZbWKwL">
                <i class="fa-brands fa-facebook-f" id="facebook"></i>
            </a>
            <a href="https://instagram.com/decrochetyotrostemas?igshid=MzRlODBiNWFlZA==" class="fa-brands">
                <i class="fa-brands fa-instagram" id="instagram"></i>
            </a>
            <a href="https://www.tiktok.com/@decrochetyotrostemas?_t=8gBULPs0gWU&_r=1" class="fa-brands">
                <i class="fa-brands fa-tiktok" id="tiktok"></i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=%2B5215561570426&data=ARBG9bdNItOy8fdSIV0HoeXrqp1NztDUdDspJprW3NShVEUAZILM8BnaEna13A5Hy7Tot-wjbFDCStJAQtLoJ_zPcSSki83t8lIreRGbqVtN6nhQpjTm1NB5LYKAjJxOS21SfGDpwcXAVTb5fIn_X5jV9g&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwAR1KQ6433VzVVcAGzqzYfuudiASNiEumHT0PZx74qMdyYIsXxVvYTNIP4VM" class="fa-brands">
                <i class="fa-brands fa-whatsapp" id="whatsapp"></i>
            </a>
        </div>
        
        <div class="cuerpoFooter">
            <div class="logoFooter">
                <img src="../resources/logo/logo.png" width="200px" alt="">
                Tu imaginacion en un tejido
            </div>

            <div class="deCrochetFooter">
                <h6 class="tituloFooter">
                    DeCrochet
                </h6>
                <p>
                    En deCrochet encontraras diferentes modelos de ropa, accesorios y amigurumis tejidos por las manos de Jani Arenas, quien se enorgullece de presentarte sus productos y agradece inmensamente tu visita.
                    
                </p>
            </div>
            <div class="linksFooter">
                <!-- Links -->
                <h6 class="tituloFooter">
                    Terminos y Condiciones
                </h6>
                <p>
                    <a href="https://www.youtube.com/channel/UCVcKV6KzBqDiItZph5cdPpg" class="text-reset">Videos de Tejido</a>
                </p>
                <p>
                    <a href="https://www.facebook.com/decrochetyotrostemas/posts/pfbid02JMQ8nxa3ACAkFPWVyyvp6gJ74scBdfx7Zn6wrY5yCR2yETy2gRrsoAH88yxL859el" class="text-reset">Aviso Legal</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">Terminos de Servicio</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">Aviso De Privacidad</a>
                </p>
            </div>

            <div class="contactoFooter">
                <!-- Links -->
                <h6 class="tituloFooter">Contacto</h6>

                <p class="iconoTextoFooter">
                    <i class="fas fa-print me-2" id="iconoComentario"></i> 
                    <a href="sobreNosotros.html" id="comentarios">Conocenos</a>
                </p>

                <p>
                    <i class="fas fa-home me-2" id="localizacion"></i> 
                    Ciudad de México
                </p>

                <p>
                <i class="fas fa-envelope me-2" id="correo"></i>
                <a href="../views/contact.html" id="contactanos">Dejanos un comentario</a>
                </p>
                
                <p>
                    <i class="fas fa-phone me-2" id="telefono"></i> 
                    5529334567
                </p>
                
            </div>

        </div>
            
        <div class="copyrightFooter">
            copyright
        </div>
    </footer>
    <!-- Footer -->
</body>
</html>