<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Styles/principal.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/991fef38dd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <title>Pagina Principal</title>
</head>
<body>

    <!---1 Navbar-->
    <div>
        <iframe class="navbar-item" src="../views/navbar.html" frameborder="0"></iframe>
    </div>

    <div class="container encabezado">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <div class="encabezado">
                    <div class="presentacion">
                        <p class="saludo">HOLA!!</p>
                        <p>Bienvenido a DeCrochet.<br> 
                        Estamos emocionados por tejer tus deseos y hacer tus sueños de crochet.</p>
                    </div>
                    <br>
                    <div class="redes d-flex justify-content-center align-items-center">
                        <a href="https://www.facebook.com/decrochetyotrostemas?mibextid=ZbWKwL" class="me-4 text-reset">
                            <i class="fa-brands fa-facebook-f fa-2xl"></i>
                        </a>
                        <a href="https://instagram.com/decrochetyotrostemas?igshid=MzRlODBiNWFlZA==" class="me-4 text-reset">
                             <i class="fa-brands fa-instagram fa-2xl"></i>
                        </a>
                        <a href="https://www.tiktok.com/@decrochetyotrostemas?_t=8gBULPs0gWU&_r=1" class="me-4 text-reset">
                            <i class="fa-brands fa-tiktok fa-2xl"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fa-brands fa-whatsapp fa-2xl"></i>
                        </a>
                    </div>
                    <!---Falta iconos de redes sociales-->

                </div>
            </div>
            <div class="col-md-6">
                <div class="encabezado">
                    <img src="./Sources/Conejo.jpeg" alt="Imagen página principal">
                </div>
            </div>
        </div>
    </div>

    
    <br>
    <div class="container Productos">
        <div class="row">
            <div class="col-md-4 d-flex">
                <div class="productos text-center">
                    <!-- Contenido de la sección "Accesorios" -->
                    <img class="fotoProducto" src="./Sources/accesorio_crochet.png" alt="Imagen de accesorios">
                    <div class="container fluid justify-content-center">
                        <button type="submit" class="btn btn-primary mt-3 mb-3">ACCESORIOS</button>
                    <p class="text-center">Accesorios DeCrochet.<br>
                    Nuestros accesorios de crochet son la manera perfecta de añadir un toque de originalidad a tu atuendo. Desde bufandas y gorros hasta bolsos y cinturones, nuestros accesorios están diseñados para hacerte destacar con elegancia y originalidad.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="productos text-center">
                    <!-- Contenido de la sección "Amigurumis" -->
                    <img class="fotoProducto" src="./Sources/amigurumi_crochet.png" alt="Imagen de Amigurumis">
                    <div class="container fluid justify-content-center">
                        <button type="submit" class="btn btn-primary mt-3 mb-3">AMIGURUMIS</button>
                    <p class="text-center">Amigurumis DeCrochet.<br> 
                        Nuestros amigurumis crochet son regalos excepcionales que muestran aprecio y cariño. Cada pieza es única y confeccionada con amor, lo que los convierte en regalos perfectos para cualquier ocasión.</p>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="productos text-center">
                    <!-- Contenido de la sección "Ropa" -->
                    <img class="fotoProducto justify-content-center" src="./Sources/ropa_crochet.png" alt="Imagen Ropa">
                    <div class="container fluid justify-content-center">
                    <button type="submit" class="btn btn-primary mt-3 mb-3">ROPA</button>
                    <p class="text-center">Ropa DeCrochet.<br> Descubre nuestra exclusiva colección de ropa crochet. 
                    Cada prenda está cuidadosamente tejida a mano para brindarte un estilo único y confort inigualable. Desde blusas y vestidos hasta suéteres, nuestros diseños de crochet destacarán tu belleza natural.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
       <!-- Footer -->
    <div>
        <iframe class="footer-item" src="../views/footer.html" frameborder="0"></iframe>
    </div>


</body>
</html>