<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Styles/principal.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/991fef38dd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <title>Pagina Principal</title>
</head>
<body>

    <!---1 Navbar-->
    <div class=" col-12">
        <iframe class="navbar-item" src="../views/navbar.html" frameborder="0"></iframe>
    </div>

    <div class="container encabezado">
        <div class="row">
            <div class="col-md-6">
                <div class="encabezado">
                    <p>Hola. Bienvenido a DeCrochet.<br> 
                    Estamos ansiosos por tejer tus deseos y hacer tus sueños de crochet.</p>
                    
                    <!---Falta iconos de redes sociales-->

                </div>
            </div>
            <div class="col-md-6">
                <div class="encabezado">
                    <img src="../resources/logo/Conejo.jpeg" alt="Imagen página principal">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container Productos">
        <div class="row">
            <div class="col-md-4">
                <div class="productos">
                    <!-- Contenido de la sección "Accesorios" -->
                    <img class="fotoProducto" src="../resources/logo/accesorio_crochet.png" alt="Imagen de accesorios">
                    <div clas="container fluid justify-content-center"><button type="submit" class="btn btn-primary mt-3">Accesorios</button>
                    <p>Accesorios de crochet...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="productos">
                    <!-- Contenido de la sección "Amigurumis" -->
                    <img class="fotoProducto" src="../resources/logo/amigurumi_crochet.png" alt="Imagen de Amigurumis">
                    <div><button type="submit" class="btn btn-primary mt-3">Amigurumis</button>
                    <p>Amigurumis de crochet...</p>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="productos">
                    <!-- Contenido de la sección "Ropa" -->
                    <img class="fotoProducto" src="../resources/logo/ropa_crochet.png" alt="Imagen Ropa">
                    <div>
                    <button type="submit" class="btn btn-primary mt-3">Ropa</button>
                    <p>Ropa de crochet...</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    
       <!-- Footer -->
    <div>
        <iframe class="footer-item" src="../views/footer.html" frameborder="0"></iframe>
    </div>


</body>
</html>