<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina Compra</title>
  <link rel="stylesheet" href="../styles/paginaCompra.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script defer src="../Js/paginaCompra.js"></script>


</head>

<body class>
  <div class="my-order">
    <h1 class="title">Mi orden</h1>
  </div>

  <div class="d-flex flex-column align-items-center"><p id="direccionTexto">Tu dirección: <span id="direccion">Calle Ejemplo, Ciudad</span></p>

  <div id="formularioEdicion" class="new-Direction" style="display:none;">
      <label for="nuevaDireccion" >Nueva Dirección:</label>
      <input type="text" id="nuevaDireccion" placeholder="Ingresa la nueva dirección">
  <div class="d-flex flex-column align-items-center mt-3"><button onclick="guardarNuevaDireccion()" class="boton">Guardar</button>
  </div>
  </div >

<div class="d-flex flex-column align-items-center mt-4">
  <button onclick="activarEdicion()" class="boton">Editar Dirección</button>
</div>
  </div>
</div>

  <div id="shopping-list" class="shopping-cart mt-5">
  </div>

  <div class="order-content">
    <div class="order">
      <p>
        <span></span>
        <span id="item-count"></span>
        <br>
      </p>
      <button id="placement" type="button" class="boton">Ordenar</button>
      <br>
      <button id="cancellation" type="button" class="boton">Cancelar</button>
      <div>
      </div>
      <br>

    </div>
  </div>


</body>

</html>