<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/paginaCompra.css">
   
</head>
<body>
    <aside class="product">
        <div class="title-container">
          <p class="title">Orden</p>
        </div>
    
        <div class="order-content">
          
          <div class="cart">
            <figure>
              <img src="" alt="Amigurumi">
            </figure>
            <p>Amigurumi</p>
            <p>$700</p>
            <img src="./icons/icon_close.png" alt="close">
          </div>
          
          <button class="primary-button">
            Continuar orden
          </button>
        </div>
      </div>
      </aside>
</body>
</html>
