<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/product.css">

    <!--Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!--Icons Fontawesome CDN-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <title>Product</title>
</head>

<body>
    <div class="container-fluid text-center product-container">
        <div class="row">
            <!-- <div class="col-md-1 col-img-thumbnail">
                <div class="thumbnail mt-1">
                    <img class="img-thumbnail" id="img-thumbnail-1"
                        src="https://crochetstores.mx/cdn/shop/products/kits-amigurumis-coleccion-animal-ballcirculo429066-087891113019552-167113_1200x.jpg?v=1689082628"
                        alt="Imagen 1">
                </div>
                <div class="thumbnail mt-1">
                    <img class="img-thumbnail" id="img-thumbnail-2"
                        src="https://crochetstores.mx/cdn/shop/products/kits-amigurumis-coleccion-animal-ballcirculo429066-097891113155588-876624_1200x.jpg?v=1689109116"
                        alt="Imagen 2">
                </div>
                <div class="thumbnail mt-1">
                    <img class="img-thumbnail" id="img-thumbnail-3"
                        src="https://crochetstores.mx/cdn/shop/products/kits-amigurumis-coleccion-animal-ballcirculo429066-107891113155595-184858_1200x.jpg?v=1689109116"
                        alt="Imagen 3">
                </div>
                <div class="thumbnail mt-1">
                    <img class="img-thumbnail" id="img-thumbnail-4"
                        src="https://crochetstores.mx/cdn/shop/products/kits-amigurumis-coleccion-animal-ballcirculo429066-117891113155656-954526_1200x.jpg?v=1689109116"
                        alt="Imagen 4">
                </div>
            </div> -->
            <div class="col-md-4 col-img-main ">
                <img class="img-product img-fluid" id="img-product"
                    src="https://crochetstores.mx/cdn/shop/products/kits-amigurumis-coleccion-animal-ballcirculo429066-127891113155670-814922_1200x.jpg?v=1689109116"
                    alt="ControlPeleas" srcset="">
            </div>
            <div class="col-md-8 col-name-price-desc d-flex flex-column justify-content-evenly">
                <div class="row product-name">
                    <h1 id="productTitle">KITS AMIGURUMIS - COLECCIÓN ANIMAL BALL</h1>
                </div>
                <div class="d-flex flex-row product-price justify-content-center">
                    <div class="h1 subtitulo">
                        <h1 id="productprice">$400</h1>
                    </div>
                    <div class="ms-2 mt-1">
                        <i class="bi bi-heart" id="add_wishList"></i>
                    </div>
                </div>
                <div class="row product-description justify-content-center mb-2">
                    <p class="texto" id="pdescription">Acerca de este artículo
                        Cada paquete viene con el material necesario para la confección de un amigurumi.

                        Son cinco hermosos modelos a elegir: Unicornio, Dinosaurio, Zorro, Tigre y Oso.

                        ¡Los amigurumis te van a encantar, es un excelente regalo para tejedores!

                        Cada kit contiene:

                        ◦ Madeja(s) de Amigurumi
                        ◦ Ganchillo
                        ◦ Aguja de tapicería
                        ◦ Ojos para amigurumi
                        ◦ Relleno
                        ◦ Marcador de punto
                        ◦ Instrucciones en español

                        Tip: Evita tejer suelto o flojo, al meter el relleno no debe verse ni salirse, el material esta
                        pensado para el tamaño indicado.
                    </p>
                </div>
                <div class="row justify-content-center butons">
                    <div class="w-50 text-center">
                        <button id="add_cart" type="button" class="btn btn-lg btn-cart">Agregar al Carrito</button>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-md-auto text-center">
                        <button id="buy-now" type="button" class="btn btn-lg btn-shop">Comprar Ahora</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 more-title">
            <div class="col">
                <h2>Mas Productos</h2>
            </div>
        </div>
        <div class="d-flex flex-row tarjetasOtros justify-content-md-around overflow-x-auto" id="tarjetas">
                <div class="h-100 d-flex flex-column col-12 col-md-2">
                    <div class="align-self-center imagen">
                        <img src="https://crochetstores.mx/cdn/shop/products/kits-amigurumis-coleccion-navidadcirculo429031-017891113110631-357991_1400x.jpg?v=1689082628"
                        class="img-fluid h-100" alt="...">
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="card-title">Otro Producto 1</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <p class="card-text more-price">$355.5</p>
                        <a href="#" class="btn btn-primary w-50 align-self-center">Ver Más</a>
                    </div>
                </div>
                <div class="h-100 d-flex flex-column col-12 col-md-2">
                    <div class="align-self-center imagen">
                        <img src="https://crochetstores.mx/cdn/shop/products/kits-amigurumis-coleccion-halloween-2023circulo436780-027891113161503-770550_1200x.jpg?v=1691093636"
                        class="img-fluid h-100" alt="...">
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="card-title">Otro Producto 2</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <p class="card-text more-price">$355.5</p>
                        <a href="#" class="btn btn-primary w-50 align-self-center">Ver Más</a>
                    </div>
                </div>
                <div class="h-100 d-flex flex-column col-12 col-md-2">
                    <div class="align-self-center imagen">
                        <img src="https://crochetstores.mx/cdn/shop/products/kits-amigurumis-coleccion-perros-y-gatoscirculo429040-017891113091565-533035_1200x.jpg?v=1689108929"
                        class="img-fluid h-100" alt="...">
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="card-title">Otro Producto 3</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <p class="card-text more-price">$355.5</p>
                        <a href="#" class="btn btn-primary w-50 align-self-center">Ver Más</a>
                    </div>
                </div>
                <div class="h-100 d-flex flex-column col-12 col-md-2">
                    <div class="align-self-center imagen">
                        <img src="https://crochetstores.mx/cdn/shop/products/kits-amigurumis-coleccion-navidad-2023circulo436836-017891113161633-752553_1200x.jpg?v=1691093638"
                        class="img-fluid h-100" alt="...">
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="card-title">Otro Producto 4</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <p class="card-text more-price">$355.5</p>
                        <a href="#" class="btn btn-primary w-50 align-self-center">Ver Más</a>
                    </div>
                </div>
                <div class="h-100 d-flex flex-column col-12 col-md-2">
                    <div class="align-self-center imagen">
                        <img src="https://crochetstores.mx/cdn/shop/products/kits-amigurumis-coleccion-pascuacirculo429813-017891113135825-852190_1200x.jpg?v=1689082625"
                        class="img-fluid h-100" alt="...">
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="card-title">Otro Producto 5</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <p class="card-text more-price">$355.5</p>
                        <a href="#" class="btn btn-primary w-50 align-self-center">Ver Más</a>
                    </div>
                </div>
        </div>
        <div class="row mt-5 reviews-title">
            <h2>Reseñas de Otros Compradores</h2>
        </div>
        <div class="row justify-content-center mt-2 reviews-coments">
            <div class="col-7">
                <h3>Juan</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores eaque modi iure illum, ratione
                    beatae porro, nostrum quod animi maiores at maxime quisquam unde vero cum. Sint, veniam a. A?</p>
            </div>
            <div class="col-7">
                <h3>Pedro</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores eaque modi iure illum, ratione
                    beatae porro, nostrum quod animi maiores at maxime quisquam unde vero cum. Sint, veniam a. A?</p>
            </div>
            <div class="col-7">
                <h3>Albar</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores eaque modi iure illum, ratione
                    beatae porro, nostrum quod animi maiores at maxime quisquam unde vero cum. Sint, veniam a. A?</p>
            </div>
        </div>
    </div>

    <script type="module" src="../js/product.js"></script>
</body>

</html>