<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/styles.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    <div class="container-fluid text-center container-product">
        <div class="row">
            <div class="col-4">
                <img class="img-product" src="https://m.media-amazon.com/images/I/611arNpQf9L._AC_SL1500_.jpg" alt="ControlPeleas"
                    srcset="">
            </div>
            <div class="col-8">
                <div class="row">
                    <h1>MAYFLASH Arcade Stick F300 Elite</h1>
                </div>
                <div class="row">
                    <p>Acerca de este artículo
                        Compatible con Switch, Xbox Series X, PS4, PS3, Xbox One/S, Xbox 360, PC Windows, macOS, Steam Deck,
                        Android, NEOGEO mini y NeoGeo Arcade Stick Pro. F300 Elite es compatible con PS5 de MAYFLASH Magic-S
                        Pro o controladores PS4 de terceros. Actualizar al último Firmware de mayflash.com
                        Mediante el uso de componentes Sanwa de alta calidad: 9 botones altamente sensibles y un joystick de
                        precisión de 4 vías, puedes golpear de forma fiable al instante y segura, juego tras juego, mientras
                        mantiene el máximo rendimiento
                        Soporta XINPUT y DINPUT cuando se utiliza en PC. Soporta Turbo.
                        El F300 Elite fue diseñado para los entusiastas de la modificación, por lo que el interior de la
                        plataforma es accesible para una mayor personalización, y el joystick y los botones se pueden
                        cambiar para adaptarse a tu estilo de juego.
                        [Compra con confianza] Tu garantía comienza a funcionar tan pronto como hagas un pedido. Todos los
                        productos MAYFLASH se prueban completamente y estrictamente antes del envío. Si tienes alguna
                        pregunta o tienes alguna dificultad para operar el dispositivo, ponte en contacto con nuestro equipo
                        de servicio y estaremos encantados de ayudarte.
                    </p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <button type="button" class="btn btn-success btn-lg">Comprar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>