<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrate</title>

    <!--Navbar-->
      <!--Bootstrap Link-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!--Bootstrap Script-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>

  <!--Fontawesome Iconos-->
  <script src="https://kit.fontawesome.com/991fef38dd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

  <!--Pagina registro-->

  <!-- Etiqueta de CSS para bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <!-- Etiqueta para coenctar CSS -->
  <link rel="stylesheet" href="../styles/stylesRegistro.css">
  <!--Link de iconos-->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

      <!--JS para el estado de la sesion-->
      <script src="../Js/estadoSesion.js"></script>
</head>

<body>

  <header class="d-none d-sm-block">DeCrochet, tu imaginacion en un tejido</header>
     <!-- Barra de navegacion -->
     <nav class="barranav">
        <div class="d-flex flex-row justify-content-evenly" id="navbarNav">
            <!-- Input de busqueda en el catalogo -->
            <div class="d-flex mt-3 w-25 d-none d-md-block">
                <div class="d-flex flex-row w-75 busqueda">
                    <button class="btn d-flex justify-content-center border-0" type="submit">
                        <i class="material-symbols-outlined ">Search</i>
                    </button>
                    <input class="border-0 entrada" type="search" placeholder="Buscar" aria-label="Search">
                </div>
            </div>
            <!-- Logo -->
            <div class="container-fluid d-flex justify-content-center w-50">
                <a class="navbar-brand " href="./paginaPrincipal.html">
                    <img src="../resources/logo/logo.png" width="270" height="100"
                        class="d-inline-block align-top img-fluid" alt="">
                </a>
            </div>
            <!-- Botones  -->
            <div class="d-flex flex-row align-items-center justify-content-end w-25">
                <div class="d-flex ms-4 justify-content-start d-none d-md-block">
                    <a class="navbar-brand" id="btnCorazon" href="#">
                        <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                                    class="d-inline-block align-text-top"> -->
                        <i class="material-symbols-outlined">Favorite</i>
                    </a>
                </div>
                <div class="d-flex ms-4 justify-content-start d-none d-md-block">
                    <a class="Person-icon" id="btnUser" href="#">
                        <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                                class="d-inline-block align-text-top"> -->
                        <i class="material-symbols-outlined">Person</i>
                    </a>
                </div>
                <div class="d-flex ms-4 me-3 justify-content-start d-none d-md-block">
                    <a class="shopping-cart-icon" id="btnCarrito" href="#">
                        <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                                    class="d-inline-block align-text-top"> -->
                        <i class="material-symbols-outlined">Shopping_Cart</i>
                    </a>
                </div>
                <div class="d-flex ms-4 justify-content-start d-block d-md-none">
                    <a class="menu-icon" href="#">
                        <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                                    class="d-inline-block align-text-top"> -->
                        <button class="menucollapse" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu"><i
                                class="material-symbols-outlined">Menu</i></button>
                    </a>
                </div>
            </div>
            <!-- Este es el div que colapsa cuando la pantalla es de un movil -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu"
                aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <div class="container-fluid d-flex justify-content-center w-50">
                        <a class="navbar-brand " href="#">
                            <img src="../resources/logo/logo.png" width="270" height="100"
                                class="d-inline-block align-top img-fluid" alt="">
                        </a>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="d-flex w-100">
                    <div class="d-flex flex-row w-100 busqueda">
                        <button class="btn d-flex justify-content-center border-0" type="submit">
                            <i class="material-symbols-outlined ">Search</i>
                        </button>
                        <input class="border-0 entrada" type="search" placeholder="Buscar" aria-label="Search">
                    </div>
                </div>
                <div class="d-flex ms-3 mt-3 justify-content-start">
                    <a class="navbar-brand" id="btnDeseos" href="#">
                        <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                                    class="d-inline-block align-text-top"> -->
                        <div class="letrasCanvas d-flex flex-row">
                            <i class="material-symbols-outlined">Favorite</i>
                            <p class="ms-3">Lista de deseos</p>
                        </div>
                    </a>
                </div>
                <div class="d-flex ms-3 mt-2 justify-content-start">
                    <a class="navbar-brand" id="btnPerfil" href="#">
                        <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                                class="d-inline-block align-text-top"> -->
                        <div class="letrasCanvas d-flex flex-row">
                            <i class="material-symbols-outlined">Person</i>
                            <p class="ms-3">Perfil</p>
                        </div>
                    </a>
                </div>
                <div class="d-flex ms-3 mt-2 justify-content-start">
                    <a class="navbar-brand" id="btnCompras" href="#">
                        <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                                    class="d-inline-block align-text-top"> -->
                        <div class="letrasCanvas d-flex flex-row">
                            <i class="material-symbols-outlined">Shopping_Cart</i>
                            <p class="ms-3">Carrito de Compra</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-nav"></div>
    </nav>
    <!--Fin Navbar-->

  <h1 class="titulo">Registrate</h1>
  
  <div class="contenedor">
    <!--Inicia formulario-->
    <div class="row g-2 needs-validation" id="form" novalidate>
    
    <h1 class="subtitulo">Usuario</h1>
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" id="nombreUsuario" required>
        <div class="alert alert-danger" role="alert" id="invalido" style="display: none">
          Introduce un nombre válido
        </div>
      </div>

      <div class="col-md-6">
        <label for="correo" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="correo" required>
        <div class="alert alert-danger" role="alert" id="invalidoCorreo" style="display: none">
          Introduce un correo válido
        </div>
        </div>

      <div class="col-md-6">
        <label for="correoConfirmacion" class="form-label">Confirma tu correo electrónico</label>
        <input type="email" class="form-control" id="correoConfirmacion" required>
        <div class="alert alert-danger" role="alert" id="invalidoConfimacion" style="display: none">
          Los correos no coinciden
        </div>
      </div>

      <div class="col-md-6">
        <label for="contraseña" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="contraseña" required>
        <div class="alert alert-danger" role="alert" id="invalidoContraseña" style="display: none">
          Contraseña inválida
        </div>
      </div>

      <!-- <h1 class="subtitulo">Dirección</h1>
      <div class="col-md-6">
        <label for="direccion" class="form-label">Calle, número y colonia</label>
        <input type="text" class="form-control" id="direccion" required>
        <div class="alert alert-danger" role="alert" id="invalidoDireccion" style="display: none">
          Por favor ingresa tu calle, número y colonia
        </div>
      </div>

      <div class="col-md-6">
        <label for="estado" class="form-label">Estado</label>
        <select class="form-select" id="estado" required>
          <option selected disabled value="">Elige...</option>
          <option>Aguascalientes</option>
            <option>Baja California </option>
            <option>Baja California Sur </option>
            <option>Campeche </option>
            <option>Chiapas </option>
            <option>Chihuahua </option>
            <option>Ciudad de México </option>
            <option>Coahuila </option>
            <option>Colima </option>
            <option>Durango </option>
            <option>Estado de México</option>
            <option>Guanajuato</option>
            <option>Guerrero </option>
            <option>Hidalgo </option>
            <option>Jalisco</option>
            <option>Michoacán </option>
            <option>Morelos </option>
            <option>Nayarit</option>
            <option>Nuevo León </option>
            <option>Oaxaca </option>
            <option>Puebla</option>
            <option>Querétaro</option>
            <option>Quintana Roo </option>
            <option>San Luis Potosí </option>
            <option>Sinaloa </option>
            <option>Sonora </option>
            <option>Tabasco </option>
            <option>Tamaulipas </option>
            <option>Tlaxcala </option>
            <option>Veracruz </option>
            <option>Yucatán </option>
            <option>Zacatecas</option>
        </select>
        <div class="alert alert-danger" role="alert" id="invalidoEstado" style="display: none;">
          Por favor selecciona un estado
        </div>

      </div>
      <div class="col-md-6">
        <label for="codigoPostal" class="form-label">Código Postal</label>
        <input type="number" class="form-control" id="codigoPostal" required>
        <div class="alert alert-danger" role="alert" id="invalidoCodigoPostal" style="display: none;">
          Por favor escribe tu código postal
        </div>
      </div> -->

      <div class="alert alert-success" role="alert" id="exito" style="display:none;">
        Registro Completado con Éxito!
      </div>
      <!--Termina formulario-->
      
      <div class="text-center">
        <button class="btn btn-primary" type="submit" id="RegisterForm">Regístrate</button>
      </div>
    </div>

    <!-- <div id="imagen">
      <img class="vaquita img-fluid" src="../resources/logo/Vaquita-removebg-preview.png" width=450px" alt="Vaquita Crochet">
    </div>
  </div> -->

  <!--Footer-->
  <footer class="containerFooter-fluid">

    <div class="redesFooter" >

        <div class="saludoFooter">
            Conoce mas sobre nosotros
        </div>

    </div>

    <div class="iconosRedesFooter">
        <a href="https://www.facebook.com/decrochetyotrostemas?mibextid=ZbWKwL">
            <i class="fa-brands fa-facebook-f" id="facebook"></i>
        </a>
        <a href="https://instagram.com/decrochetyotrostemas?igshid=MzRlODBiNWFlZA==" class="fa-brands">
            <i class="fa-brands fa-instagram" id="instagram"></i>
        </a>
        <a href="https://www.tiktok.com/@decrochetyotrostemas?_t=8gBULPs0gWU&_r=1" class="fa-brands">
            <i class="fa-brands fa-tiktok" id="tiktok"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=%2B5215561570426&data=ARBG9bdNItOy8fdSIV0HoeXrqp1NztDUdDspJprW3NShVEUAZILM8BnaEna13A5Hy7Tot-wjbFDCStJAQtLoJ_zPcSSki83t8lIreRGbqVtN6nhQpjTm1NB5LYKAjJxOS21SfGDpwcXAVTb5fIn_X5jV9g&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwAR1KQ6433VzVVcAGzqzYfuudiASNiEumHT0PZx74qMdyYIsXxVvYTNIP4VM" class="fa-brands">
            <i class="fa-brands fa-whatsapp" id="whatsapp"></i>
        </a>
    </div>
    
    <div class="cuerpoFooter">
        <div class="logoFooter">
            <img src="../resources/logo/logo.png" width="200px" alt="">
            Tu imaginacion en un tejido
        </div>

        <div class="deCrochetFooter">
            <h6 class="tituloFooter">
                DeCrochet
            </h6>
            <p>
                En deCrochet encontraras diferentes modelos de ropa, accesorios y amigurumis tejidos por las manos de Jani Arenas, quien se enorgullece de presentarte sus productos y agradece inmensamente tu visita.
                
            </p>
        </div>
        <div class="linksFooter">
            <!-- Links -->
            <h6 class="tituloFooter">
                Terminos y Condiciones
            </h6>
            <p>
                <a href="https://www.youtube.com/channel/UCVcKV6KzBqDiItZph5cdPpg" class="text-reset">Videos de Tejido</a>
            </p>
            <p>
                <a href="https://www.facebook.com/decrochetyotrostemas/posts/pfbid02JMQ8nxa3ACAkFPWVyyvp6gJ74scBdfx7Zn6wrY5yCR2yETy2gRrsoAH88yxL859el" class="text-reset">Aviso Legal</a>
            </p>
            <p>
                <a href="#!" class="text-reset">Terminos de Servicio</a>
            </p>
            <p>
                <a href="#!" class="text-reset">Aviso De Privacidad</a>
            </p>
        </div>

        <div class="contactoFooter">
            <!-- Links -->
            <h6 class="tituloFooter">Contacto</h6>

            <p class="iconoTextoFooter">
                <i class="fas fa-print me-2" id="iconoComentario"></i> 
                <a href="sobreNosotros.html" id="comentarios">Conocenos</a>
            </p>

            <p>
                <i class="fas fa-home me-2" id="localizacion"></i> 
                Ciudad de México
            </p>

            <p>
            <i class="fas fa-envelope me-2" id="correo"></i>
            <a href="../views/contact.html" id="contactanos">Dejanos un comentario</a>
            </p>
            
            <p>
                <i class="fas fa-phone me-2" id="telefono"></i> 
                5529334567
            </p>
            
        </div>

    </div>
        
    <div class="copyrightFooter">
        copyright
    </div>
</footer>
  


  <script src="../Js/jsRegistro.js"></script>

</body>