<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Nosotros</title>
  <!-- Etiqueta de CSS para bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <!-- Etiqueta para coenctar CSS -->
  <link rel="stylesheet" href="../styles/sobreNosotros.css">
  <!--Link de iconos-->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
  <!-- Se centra texto, agrega clase para color, margin button y top  de 4 -->
  <h1 class="text-center mt-4 titulo">Sobre Nosotros</h1>
  <!-- Inicia div contiene tecto de "Sobre nosotros con margin button de 3" -->
  <div class="container mb-3">
    <!-- Parrafo con clase para justificar texto y color -->
    <p class="textMisionVision textc">En un mundo saturado de redes sociales y publicidad, el acceso a productos de
      calidad
      puede ser un desafío. La competencia en estas plataformas a menudo opaca los productos que no cuentan
      con un alcance masivo. Además, mostrar un catálogo completo de productos en este entorno puede
      resultar complicado.
      En "DeCrochet" entendemos estos desafíos y hemos desarrollado una solución para hacer que la
      búsqueda y la adquisición de productos sean más sencillas. Nuestra plataforma exclusiva permite
      a los usuarios explorar nuestro catálogo de manera eficiente, brindando información detallada sobre
      cada producto.
    </p>

    <!-- div division de secciones con estilo en css -->
    <div class="divSecciones"></div>

  </div>

  <!-- Inicio div de mision con margin button y top de 4 con texto centrado -->
  <div class="container text-center mt-4 mb-4">
    <!--  Inicio div para que las columnas estan en fila-->
    <div class="row">
      <!-- Inicio div que divide 2 columnas (imagen y texto) -->
      <div class="col order-last">
        <h2 class="titulo mt-2 mb-4">Misión</h2>
        <img class="imgMisionVision mb-4" src="../resources/logo/Mision.png" alt="Imagen Mision">
      </div>
      <div class="col textMisionVision">
        <p>Ofrecemos una alternativa a los canales de venta tradicionales acercando a nuestro
          público amante de lo artesanal a piezas únicas y personalizadas que reflejen sus
          gustos y necesidades concientizando acerca de los regalos industrializados celebrando
          la creatividad y retomando el significado de los regalos únicos. </p>
      </div>
    </div>

    <!-- div division de secciones con estilo en css -->
    <div class="divSecciones"></div>

    <!-- Inicio div de vision con margin button y top de 4 con texto centrado -->
    <div class="container mt-4 mb-4">
      <!--  Inicio div para que las columnas estan en fila-->
      <div class="row">
        <!-- Inicio div que divide 2 columnas (imagen y texto) -->
        <div class="col order-last textMisionVision">
          <p>Ser una plataforma en donde la gente tenga una opción accesible y profesional al
            momento de buscar un regalo único satisfaciendo sus necesidades específicas plasmando
            sus ideas en un producto que los satisfaga convirtiéndolo no solo en cliente sino en
            colaborador a partir de su creatividad y en conjunto con la calidad de los productos
            tenemos la intención de ser una de las páginas de crochet más reconocidas a nivel nacional. </p>
        </div>
        <div class="col-md">
          <h2 class="titulo mt-2 mb-4">Visión</h2>
          <img class="imgMisionVision mb-4" src="../resources/logo/Vision.png" alt="Imagen Mision">
        </div>
      </div>

      <!-- div division de secciones con estilo en css -->
      <div class="divSecciones"></div>

    </div>

    <div class="container valores">
      <div class="row">

        <h1 class="titulo">Nuestros Valores</h1>

        <div class="col-md-4">
          <!--Link del icono-->
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon bi-patch-check-fill"
            viewBox="0 0 16 16">
            <path
              d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
          </svg>
          <h4 class="subtitulo">Calidad</h4>
          <p>Tenemos un compromiso con la excelencia de la producción desde la elección de materiales hasta la
            elaboración garantizando la duracion de tus productos.</p>
        </div>

        <div class="col-md-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon bi-calendar-heart-fill"
            viewBox="0 0 16 16">
            <path
              d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5ZM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
          </svg>
          <h4 class="subtitulo">Responsabilidad</h4>
          <p>Nuestros acuerdos contigo son nuestra prioridad, nos aseguramos de que la entrega de tu producto sea
            siempre en el tiempo acordado.</p>
        </div>

        <div class="col-md-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon bi-person-hearts" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566ZM9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z" />
          </svg>
          <h4 class="subtitulo">Empatia</h4>
          <p>Sabemos cuan especial es tu solicitud por lo que tus necesidades, preferencias son comprendidas y
            aceptadas, siempre veras reflejada tu intencion en el producto final.</p>
        </div>

        <div class="col-md-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon bi-person-fill-check"
            viewBox="0 0 16 16">
            <path
              d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            <path
              d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z" />
          </svg>
          <h4 class="subtitulo">Respeto</h4>
          <p>Asi como en nuestro equipo de trabajo, creemos en el trato respetuoso para crear una comunidad segura y
            comoda para ti</p>
        </div>

        <div class="col-md-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon bi-gift-fill" viewBox="0 0 16 16">
            <path
              d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7h6zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9H2.5z" />
          </svg>
          <h4 class="subtitulo">Gratitud</h4>
          <p>Tener en nuestras manos la oportunidad de plasmar tus ideas y ser parte de momentos especiales son un
            motivo de gratitud para nosotros.</p>
        </div>

        <div class="col-md-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon bi-postcard-heart-fill"
            viewBox="0 0 16 16">
            <path
              d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2Zm6 2.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0Zm3.5.878c1.482-1.42 4.795 1.392 0 4.622-4.795-3.23-1.482-6.043 0-4.622ZM2 5.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z" />
          </svg>
          <h4 class="subtitulo">Honestidad</h4>
          <p>Honramos tu confianza brindandote información precisa y transparente acerca de las características y
            precios de los productos.</p>
        </div>
        <div class="divSecciones"></div>
      </div>
    </div>

    <div class="devs"> <!--Div desarrolladores-->
      <h2 class="titulo">Desarrolladores</h2> <!--Título-->

      <div class="devs text-center">
        <div class="row justify-content-between align-items-baseline">
          <div class="col-md-3 mb-4">
            <img class="imageDev" src="../resources/logo/Usuario.png" alt="Foto Albar">
            <h3 class="subtitulo">Albar De La Torre Garcia</h3>
            <a href="https://github.com/Albarin97" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-github" title="GitHub"></i>
            </a>
            <a href="https://www.linkedin.com/in/albar-de-la-torre-garcia-195692257/" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-linkedin" title="Linkedin"></i>
            </a>
            <p class="descriptionDev">Java Full Stack Developer | Phython Dev <br> Ingeniero en Sistemas Computacionales
              (ITSJ) </p>
          </div>

          <div class="col-md-3 mb-4">
            <img class="imageDev" src="../resources/logo/Usuario.png" alt="Foto Brandon">
             <h3 class="subtitulo">Brandon Jiménez Lozano</h3>
            <a href="https://github.com/Brand1121" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-github" title="GitHub"></i>
            </a>
            <a href="https://www.linkedin.com/in/brandon-jimenez-lozano/" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-linkedin" title="Linkedin"></i>
            </a>
            <p class="descriptionDev"> Java Full Stack Developer Jr. <br> Ingeniero en Computación por el Instituto
              Politécnico Nacional. </p>
          </div>

          <div class="col-md-3 mb-4">
            <img class="imageDev" src="../resources/logo/Usuario.png" alt="Foto Ceci">
            <h3 class="subtitulo">Cecilia Cañedo Lozada</h3>
            <a href="https://github.com/CeciCanedo" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-github" title="GitHub"></i>
            </a>
            <a href="https://www.linkedin.com/in/ceciliacanedolozada/" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-linkedin" title="Linkedin"></i>
            </a>
            <p class="descriptionDev"> Java Full Stack Developer Jr. | Generation MX <br> Ingeniera petrolera por el
              Instituto Politécnico Nacional.</p>
          </div>

          <br> <br>
          <div class="col-md-3 mb-4">
            <img class="imageDev" src="../resources/logo/Usuario.png" alt="Foto Francisco">
            <h3 class="subtitulo">Juan Francisco Llamas Castañeda</h3>
            <a href="https://github.com/franciscollamas" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-github" title="Github"></i>
            </a>
            <a href="https://www.linkedin.com/in/juan-francisco-llamas-casta%C3%B1eda/" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-linkedin" title="Linkedin"></i>
            </a>
            <p class="descriptionDev"> Java Full Stack Developer Jr. <br> Ingeniero en Transporte por el Insituto
              Politécnico Nacional.</p>
          </div>
        </div>
      </div>
      <br>

      <div class="devs text-center">
        <div class="row align-items-baseline">
          <div class="col-md-4 mb-4">
            <img class="imageDev" src="../resources/logo/Usuario.png" alt="Foto Gonzalo">
            <h3 class="subtitulo">Gonzalo Andrei Malpica Santes</h3>
            <a href="https://github.com/andr4i" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-github" title="GitHub"></i>
            </a>
            <a href="https://www.linkedin.com/in/gonzalo-andrei-malpica-santes-149001290/" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-linkedin" title="Linkedin"></i>
            </a>
            <p class="descriptionDev">Java Full Stack Developer Jr. | Generation MX <br>
              Ingeniero en Sistemas Computacionales por el Instituto Politécnico Nacional. </p>
          </div>

          <div class="col-md-4 mb-4">
            <img class="imageDev" src="../resources/logo/Usuario.png" alt="Foto Jani">
            <h3 class="subtitulo">Jani Selene Arenas Sánchez</h3>
            <a href="https://github.com/janisarsa" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-github" title="GitHub"></i>
            </a>
            <a href="https://mx.linkedin.com/in/jani-selene-arenas" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-linkedin" title="Linkedin"></i>
            </a>
            <p class="descriptionDev">Java Full Stack Developer Jr. | Generation MX <br>
              Contadora Pública por el Instituto Politécnico Nacional </p>
          </div>

          <div class="col-md-4 mb-4">
            <img class="imageDev" src="../resources/logo/Usuario.png" alt="Foto Zyanya">
            <h3 class="subtitulo">Zyanya Martínez Núñez</h3>
            <a href="https://github.com/ZyanyaMN" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-github" title="GitHub"></i>
            </a>
            <a href="https://www.linkedin.com/in/zyanya-mart%C3%ADnez/" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-linkedin" title="Linkedin"></i>
            </a>
            <p class="descriptionDev">Java Full Stack Developer Jr. | Generation Mx <br> Bioingeniera médica por la
              Universidad Autónoma del Estado de México. </p>
          </div>

        </div>
      </div>
    </div>
    <!-- Etiqueta js para bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
      </script>

</body>

</html>