<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos ingresados</title>

    <!--Bootstrap Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="../styles/visualizacionProduct.css">

        <!--JS para el estado de la sesion-->
        <script src="../Js/estadoSesion.js"></script>
</head>

<body>
    <div id="datosMostrados">
        <!-- Aquí se mostrarán los datos ingresados -->
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Recupera los datos del localStorage
            const datosJSON = localStorage.getItem('datosIngresados');
            let ListaProductos = JSON.parse(datosJSON); // Parse es para convertir el texto a formato JS

            if (datosJSON) {
                // Convierte los datos JSON en un objeto
                const datos = JSON.parse(datosJSON);

                const datosMostradosDiv = document.getElementById('datosMostrados');
                datos.forEach(element => {
                    const cardBody = document.createElement('div');
                    cardBody.classList.add("d-flex", "flex-column", "mt-3");
                    const divInfo = document.createElement('div');
                    const divTitulo = document.createElement('div');
                    divInfo.classList.add("d-flex", "flex-row", "align-items-enter", "justify-content-md-around", "texto");
                    divTitulo.classList.add("titulo")
                    const header = document.createElement('h2');
                    const imagen = document.createElement('img');
                    const nombreProducto = document.createElement('p');
                    const precio = document.createElement('p');
                    const categoria = document.createElement('p');
                    const descripcion = document.createElement('p');
                    const boton = document.createElement('button');
                    boton.classList.add("boton");

                    header.textContent = "Informacion Producto" + element.id;
                    imagen.setAttribute("src", element.imagen);
                    nombreProducto.textContent = "Nombre:" + element.nombreProducto;
                    precio.textContent = "Precio: " + element.precio;
                    categoria.textContent = "Categoria: " + element.categoria;
                    descripcion.textContent = "Descripción: " + element.descripcion;
                    boton.textContent = "Eliminar producto";
                    boton.addEventListener("click", () => eliminarProducto(element));
                    divTitulo.append(header);
                    divInfo.append(imagen);
                    divInfo.append(nombreProducto);
                    divInfo.append(precio);
                    divInfo.append(categoria);
                    divInfo.append(descripcion);
                    divInfo.append(boton);
                    cardBody.append(divTitulo);
                    cardBody.append(divInfo);
                    datosMostradosDiv.append(cardBody);
                });
            }
        });

        function eliminarProducto(element) {
            console.log(element);
            let ListaProductos = localStorage.getItem("datosIngresados");
            ListaProductos = JSON.parse(ListaProductos);
            ListaProductos = ListaProductos.filter((product) => {
                if (product.id != element.id) {
                    return product;
                };
            });
            if (ListaProductos.length > 0) {
                localStorage.setItem("datosIngresados", JSON.stringify(ListaProductos));
                window.location.reload();
            } else {
                localStorage.removeItem("datosIngresados");
                window.location.reload();
            }
        }
    </script>
</body>

</html>