.cardForm{
    border: 2px solid #4964F3;
    border-radius: 15px;
    padding: 15px;
    font-family: 'Century Gothic';
    font-size: 20px;
}

.nuevoProducto{
    color: #EF5268;
    font-size: 30px;
}

.colorLabel{
    color: #4964F3;
    font-size: 25px;
}

.imagen input{
    display: none;
}

.imgEjemplo{
    width: 350px;
    height: auto;
}

.imagen label{
    background-color: #EF5268;
    color: white;
    padding: 6px 20px;
    cursor: pointer;
    border-radius: 3px;
}