/*Navbar*/
.material-symbols-outlined {
    color: #fda2ef;
  }
  
  .busqueda {
    border: #fda2ef;
    border-radius: 20px;
    border-style: solid;
  }
  
  .menucollapse{
    background-color: transparent;
    border: 0;
  }
  
  .entrada:focus{
    outline: none;
  }
  
  .letrasCanvas{
    color: #808080;
  }
  
  .btn:hover {
    color: #4964f3;
  
  }
  
  * {
    font-family: 'Century Gothic', sans-serif;
  
  }
  
  .copy-footer {
    background-color: #4964F3;
    color: white;
  }
  
  .footer-content {
    color: black;
  }
  
  .copy-footer {
    color: white;
  }
  
  .border-0{
    border-radius: 100px;
    width: 100px;
  }

   /*Fin Navbar*/

.body{
    font-family:'Century Gothic', sans-serif;
}

.titulo {
    color:#EF5268;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
}

.subtitulo{
    color:#EF5268;
    font-size: 30px;
    font-family: 'Century Gothic', sans-serif;

}

.carta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 1px;
    margin-right: 1px;
    border: #4964f3;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;

    

}

.contenedorImagen img {
    max-width: 100%;
}

.contenedorProducto {
    text-align: center;
}