/*Navbar*/
.material-symbols-outlined {
    color: #fda2ef;
  }
  
  .busqueda {
    border: #fda2ef;
    border-radius: 20px;
    border-style: solid;
  }
  
  .menucollapse{
    background-color: transparent;
    border: 0;
  }
  
  .entrada:focus{
    outline: none;
  }
  
  .letrasCanvas{
    color: #808080;
  }
  
  .btn:hover {
    color: #4964f3;
  
  }
  
  * {
    font-family: 'Century Gothic', sans-serif;
  
  }
  
  .copy-footer {
    background-color: #4964F3;
    color: white;
  }
  
  .footer-content {
    color: black;
  }
  
  .copy-footer {
    color: white;
  }
  
  .border-0{
    border-radius: 100px;
    width: 100px;
  }

   /*Fin Navbar*/

.body{
    font-family:'Century Gothic', sans-serif;
    background-image:url('../resources/logo/Fondo2.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}

.titulo {
    color:#EF5268;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
}

.subtitulo{
    color:#EF5268;
    font-size: 30px;
    font-family: 'Century Gothic', sans-serif;

}

.carta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 1px;
    margin-right: 1px;
    border: #d9d8d8;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 5px 5px 10px #d9d8d8; 
    /*transform: scale(0.90);**/
    background-color: white;
    transition: transform 0.3s;
    height: 340px;
    width: 340px;
}

.carta:hover{
  transform: scale(1.1);
}

.contenedorImagen img {
    max-width: 100%;
}

.contenedorProducto {
    text-align: center;
}


/*Botones de selección categoría**/
.btn.btn-Ropa,.btn.btn-Amigurumis,.btn.btn-Accesorios{
    background-color: #4964F3;
    color: #FFDFE2; 
    box-shadow: 5px 5px 10px #4964F3; 
    border-radius: 10px; 
}

.btn.btn-primary{
    background-color: #4964F3;
    color: white; 
    border-radius: 12px;
    border-color: transparent;
}

.btn.btn-primary:hover{
    background-color: #EF5268;
    color: white; 
    border-radius: 12px;
    border-color: transparent;
}

.precios {
    padding: 10px;
    border-radius: 5px;
}


.form-range {
    background-color: #4964F3;
    color: #fff;
    border-color:  #4964F3;
    height: 10px; 
    border-top:2px;
    box-shadow: 5px 5px 10px #4964F3; 
    border-radius: 10px; 
    margin-top: 5px;
    margin-left:13px;
    margin-right: 13px;
}


.precioMinimo,.precioMaximo {
    color: #EF5268;
    font-size: 15px;
    font-weight: bold;
}

.img-product{
    height: 150px;
    width: 130px;
}


