/*Navbar*/
.material-symbols-outlined {
    color: #fda2ef;
}

.busqueda {
    border: #fda2ef;
    border-radius: 20px;
    border-style: solid;
}

.menucollapse{
    background-color: transparent;
    border: 0;
}

.entrada:focus{
    outline: none;
}

.letrasCanvas{
    color: #808080;
}

.btn:hover {
    color: #4964f3;

}

* {
    font-family: 'Century Gothic', sans-serif;

}

.copy-footer {
    background-color: #4964F3;
    color: white;
}

.footer-content {
    color: black;
}

.copy-footer {
    color: white;
}

.border-0{
    border-radius: 100px;
    width: 100px;
}

/*Pagina Principal*/
.productos, .encabezado {
    font-family:'Century Gothic', sans-serif;
}

.fotoProducto {
    width:200px;
    height:auto;
}

.btn.btn-primary {
    background-color: #4964f3;
    color: #FFDFE2;
    border-radius: 20px;
    border-color: transparent;
    width: 200px;
    height: 45px; 
    font-weight: bold;
}

.btn.btn-primary:hover{
    background-color: #EF5268;
    color: white;
    border-radius: 20px;
    border-color: transparent;
}

.productoNombre{
    font-size: 20px;
    color: #EF5268;
}

.redes{
    color: #4964F3;
    text-decoration: none;
}

.presentacion{
        border-top: 1px solid #FDA2EF;
        border-bottom: 1px solid #FDA2EF;
        font-size: 20px;
}

.saludo{
    font-size: 40px;
    color: #EF5268;
}

.d-item{
    height: 400px;
    background-color: #FFDFE2;
}

.d-img{
    height: 400px;
    width: auto;
    object-fit: cover;
    filter: brightness(0.7);
}

.divTarget{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.divTarget .productos{
    border-radius: 8px;
    box-shadow: 0 2px 2px #808080;
    overflow: hidden;
    transition: all 0.25s;
}

.divTarget .productos:hover{
    transform: translateY(-15px);
    box-shadow: 0 10px 10px 10px #d9d8d8;
}
