/*Navbar*/
.material-symbols-outlined {
  color: #fda2ef;
}

.busqueda {
  border: #fda2ef;
  border-radius: 20px;
  border-style: solid;
}

.menucollapse{
  background-color: transparent;
  border: 0;
}

.entrada:focus{
  outline: none;
}

.letrasCanvas{
  color: #808080;
}

.btn:hover {
  color: #4964f3;

}

* {
  font-family: 'Century Gothic', sans-serif;

}

.copy-footer {
  background-color: #4964F3;
  color: white;
}

.footer-content {
  color: black;
}

.copy-footer {
  color: white;
}

.border-0{
  border-radius: 100px;
  width: 100px;
}

 /*Fin Navbar*/

body{
  font-family: "Century Gothic", sans-serif;
}


.my-order h1 {
  color:#EF5268;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  ;

}

.title {
  font-size: var(--lg);
  margin-bottom: 40px;
}

.my-order-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;

}

.order span {
  font-weight: bolder;
}

.order {
  display: flex;
  flex-direction: column;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;

}

.order p:nth-child(1) {
  display: flex;
  flex-direction: column;

}

.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;

}

.order p span:nth-child(2) {
  font-size: var(--sm);
}

.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

.shopping-cart figure img {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
}


.shopping-cart p {
  font-size: var(--md);
  font-weight: bold;
}

#products {
  color: #EF5268;
  font-size: 20px;
}

.direction-user {
  font-size: var(--md);
  display: flexbox;
  place-items: left;

}

.product-container {
  margin-bottom: 40px;
  border: 2px solid #4964F3;
  display: flex;
  border-radius: 30px;
  width: 100%;

}

.product-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.total-general {
  color: #EF5268;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton {
  background-color: #4964f3;
  color: #FFDFE2;
  border-radius: 20px;
  border-color: transparent;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 20px;
}

.boton:hover {
  background-color: #EF5268;
  color: white;
  border-radius: 20px;
  border-color: transparent;
}
div .item-quantity, div .item-price, div .item-total{
  color: #4964f3;
  font-size: 20px;
}

div .total-general {
  
  font-size: 30px;
}

#placement, #cancellation {
  font-size: 20px;
}

#nuevaDireccion {
  border: none;
  color: #4964f3; /* Cambia el color del texto a azul */
  font-size: 20px; /* Cambia el tamaño del texto a 16px */

}
.new-Direction , #direccionTexto{
  color: #4964f3;
  font-size: 20px;
}
