header{
  color: #FFDFE2;
  background-color: #4964F3;
  font-size: 20px;
  padding: 8px;
  text-align: center;
  border: #FFDFE2 solid 3px;
}

/*Navbar*/
.barranav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000; /* Asegura que la barra de navegación esté en la parte superior */
}

.material-symbols-outlined {
    color: #fda2ef;
  }
  
  .busqueda {
    border: #fda2ef;
    border-radius: 20px;
    border-style: solid;
  }
  
  .menucollapse{
    background-color: transparent;
    border: 0;
  }
  
  .entrada:focus{
    outline: none;
  }
  
  .letrasCanvas{
    color: #808080;
  }
  
  .btn:hover {
    color: #4964f3;
  
  }
  
  * {
    font-family: 'Century Gothic', sans-serif;
  
  }
  
  .copy-footer {
    background-color: #4964F3;
    color: white;
  }
  
  .footer-content {
    color: black;
  }
  
  .copy-footer {
    color: white;
  }
  
  .border-0{
    border-radius: 100px;
    width: 100px;
  }

   /*Fin Navbar*/

.row{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.img-product {
    height: 400px;
    width: 400px;
}


.bi {
    color: #EF5268;
}

.img-thumbnail {
    height: 100px;
    width: 100px;
}


.individuales{
  border-radius: 20px;
  margin: 10px;
  box-shadow: -10px 0px 10px #b2b2b2;
  padding: 10px;
}

.individuales:hover{
  box-shadow: -10px 0px 10px #b2b2b2;
  animation: moverSombra 1.5s infinite alternate;
}

@keyframes moverSombra {
  from {
      box-shadow: -10px 0px 10px #4964F3;
  }
  to {
      box-shadow: 10px 0px 10px #FDA2EF;
  }

}




.subtitulo {
    font-family: 'Century Gothic', sans-serif;
    font-size: 30px;
}

.texto {
    font-family: 'Century Gothic', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.contenedorComentarios{
  height: 500px;
}

.product-name h1 {
    color: #EF5268;
    font-family: 'Century Gothic', sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 2rem;
}

.product-description p {
    font-family: 'Century Gothic' sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-price {
    font-family: 'Century Gothic' sans-serif;
    font-size: 25px;
}

.imagen {
    height: 200px;
    width: 200px;
}

.reviews-title {
    color: #EF5268;
    font-family: 'Century Gothic', sans-serif;
    font-size: 27px;
}

.more-title {
    color: #EF5268;
    font-family: 'Century Gothic', sans-serif;
    font-size: 27px;
}

.more-price {
    color: #EF5268;
    font-family: 'Century Gothic', sans-serif;
    font-size: 27px;
}

.reviews-coments h3 {
    color: #4964F3;
    font-size: 25px;
    font-family: 'Century Gothic', sans-serif;
    text-align: left;
}

.reviews-coments p {
    font-family: 'Century Gothic';
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.btn {
    border-radius: 25px !important;
    color: white !important;
    font-family: 'Century Gothic' sans-serif !important;
    font-weight: bold !important;
}

.btn-shop {
    background-color: #4964F3 !important;
}

.btn-cart {
    background-color: #EF5268 !important;
}


.btn-wl {
    background-color: #EF5268 !important;
}

/*Footer*/
.containerFooter-fluid{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-family:'Century Gothic', sans-serif;
  background-color: #4964F3;
  color: white;
  font-size: 15px;
  margin-top: 45px;
}

.redesFooter{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.saludoFooter{
  flex: 6;
  font-size: 40px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.iconosRedesFooter{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex: 5;
  justify-content: space-around;
  margin-bottom: 25px;
}

#facebook, #instagram, #tiktok, #whatsapp{
  color: white;
  font-size: 55px;
}

#facebook:hover, #instagram:hover, #tiktok:hover, #whatsapp:hover{
  transform: scale(1.2);
}

.cuerpoFooter{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.logoFooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.deCrochetFooter{
  flex: 3;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.linksFooter{
  flex: 3;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.contactoFooter{
  flex: 3;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

#comentarios {
  text-decoration: none;
  color: white;
}

#telefono, #correo, #localizacion, #iconoComentario, #contactanos{
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.tituloFooter{
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.text-reset{
  text-decoration: none;
}

.copyrightFooter{
  background-color: #4964F3;
  color: white;
  text-align: center;
  font-size: 15px;
}

.boton{
  background-color: #4964f3;
  color: white;
  border-radius: 20px;
  border-color: transparent;
  padding-right: 20px;
  padding-left: 20px;
}
.boton:hover{
  background-color: #EF5268;
  color: white;
  border-radius: 20px;
  border-color: transparent;
}
