/* Estilo de los textos*/
.textMisionVision {
    display: flex;
    align-items: center;
    text-align: justify;
    font-family:'Century Gothic', sans-serif;
    color: #000;
    font-size: 20;
}

/* Estilo de las imagenes */
.imgMisionVision{
    width: 400px;
    height: 250px;
}

/* Estilo subtitulos */
.colorWordsSignificativas{
    color: #EF5268;
    font-family:'Century Gothic', sans-serif;
}

/* Estilo borde division de secciones */
.divSecciones{
    border-top: 2px solid #4964F3;
}


.titleDevs {
    text-align: center;
    font-size: 40px;
    color: #EF5268;
    font-family:'Century Gothic', sans-serif;
    font-weight: bold;
} /*Título "Desarrolladores*/

.imageDev {
    width: 150px;
    height:150px;
} /*Tamaño foto desarrolladores*/

.devs{
    padding-left: 2%;
    padding-right: 2%;
}
.nameDev {
    color: #EF5268;
    font-family:'Century Gothic';
    font-size: 30px;
    font-weight: bold;

} /*Nombre desarrolladores*/


.descriptionDev {
    font-family:'Century Gothic';
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}


.col-md-4 {
    margin-bottom: 20px;
  }

  .icon {
    color: #4964F3;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }

   .container1 {
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  .container1 h4{
    color: #EF5268;
    margin-bottom: 20px;
  }
