
.material-symbols-outlined{
    color: #fda2ef;
}
.busqueda{
    border: #fda2ef;
    border-radius: 20px;
    border-style: solid;
}
.btn:hover{
    color: #4964f3;

}
*{
    font-family: 'Century Gothic', sans-serif;

}

.copy-footer {
    background-color: #4964F3;
    color: white;
}

.footer-content {
    color: black;
}

.copy-footer{
    color: white;
}

.contact-us{
    color: palevioletred;
}

.redes {
    color: #4964F3;
    text-decoration: none;
}