@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
/*Navbar*/
.barranav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000; /* Asegura que la barra de navegación esté en la parte superior */
  }

.material-symbols-outlined {
    color: #fda2ef;
}

.busqueda {
    border: #fda2ef;
    border-radius: 20px;
    border-style: solid;
}

.menucollapse{
    background-color: transparent;
    border: 0;
}

.entrada:focus{
    outline: none;
}

.letrasCanvas{
    color: #808080;
}

.btn:hover {
    color: #4964f3;

}

* {
    font-family: 'Century Gothic', sans-serif;

}

.copy-footer {
    background-color: #4964F3;
    color: white;
}

.footer-content {
    color: black;
}

.copy-footer {
    color: white;
}

.contact-us {
    color: palevioletred;
}

.redes {
    color: #4964F3;
    text-decoration: none;
}

.navbar-item,
.main-item {
    width: 100% !important;
    height: 300px;
}

.footer-item {
    width: 100% !important;
    height: 700px !important;
}

.wrapper {
    min-height: 100vh;
    /* Establece el alto mínimo del wrapper al alto de la ventana del navegador */
    display: flex;
    flex-direction: column;
}

.footer-div {
    display: flex;
    flex-direction: column;
}

.footer-div iframe {
    flex-grow: 1;
    border: none;
    /* Para eliminar el borde del iframe si lo deseas */
}

.img-product {
    height: 400px;
    width: 400px;
}


/*Pagina de usuario*/

.container-fluid{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    box-sizing:content-box;
    justify-content: space-between;
    align-items: center;
    width: auto;
    font-family:'Century Gothic', sans-serif;
    font-size: 20px;
}

.leftMenu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 2;
    height: auto;
    align-items: center;
    justify-content: center;
}

.rightMenuRow{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    border: 1px solid white;
    /*box-shadow: -10px 8px 20px #acbaff;*/
    border-radius: 25px;
    flex: 9;
    justify-content: space-around;
    align-items: center;
    padding-top: 70px;
}

.card-text{
    font-size: 20px;
    text-align:start;
}

.card{
    margin: 15px;
    width: 360px;
    box-shadow: -8px 8px 8px #d9d8d8; 
    border: solid 1px white;
}

.cardbody{
    height: auto;
    text-align: start;
}

#fotoPerfil{
    border: 10px #FFDFE2 solid;
    border-radius: 50%;
    background-color: #FFDFE2;
    margin: 40px;
    height: 200px;

}

.icon{
    width: 18px;
    fill: #FDA2EF;
    align-items: start;
}

.icon-link{
    text-decoration: none;
    margin: 7px;
    color: #FFDFE2;
}

#card-title{
    text-align: center;
    color: #FFDFE2;
}

.menuSub{
    color: #FFDFE2;
}

#icon1, #icon2, #icon3, #icon4, #icon5, #icon6{
    text-decoration: none;
    color: #EF5268;
    font-size: 30px;
}

#iconCard1, #iconCard2, #iconCard3, #iconCard4, #iconCard5, #iconCard6{
    width: 25px;
    fill: #FDA2EF;
    margin-bottom: 20px;
}

p{
    margin: 50px;
}

#card1, #card2, #card3, #card3, #card4, #card5, #card6{
    box-shadow: -10px 0px 10px #FFDFE2;

}

#card1:hover, #card2:hover, #card3:hover, #card4:hover, #card5:hover, #card6:hover{
    transform: scale(0.90);
    animation: moverSombra 1s infinite alternate;
    @keyframes moverSombra {
        from {
            box-shadow: -10px 0px 10px #4964F3;
        }
        to {
            box-shadow: 10px 0px 10px #FDA2EF;
        }
        }
}

.icon:hover{
    transform: scale(1.5);
}

#btnCuenta{
    color: #FFDFE2;
}

#btnCuenta:hover{
    background-color: #EF5268;
    border: #EF5268 solid 1px;
    color: #FFDFE2;
}

.offcanvas-title{
    color: #EF5268; 
    font-size: 30px;
}

.btn-close{
    color: #FDA2EF;
}

header{
    color: #FFDFE2;
    background-color: #4964F3;
    font-size: 20px;
    padding: 8px;
    text-align: center;
    border: #FFDFE2 solid 3px;
}

.saludo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
    box-shadow: -10px 0px 10px #FFDFE2;
    animation: moverSombra 10s infinite alternate;
}

@keyframes moverSombra {
    from {
        box-shadow: -10px 0px 10px #4964F3;
    }
    to {
        box-shadow: 10px 0px 10px #FDA2EF;
    }
}

.saludo img{

    border: 10px white solid;
    border-radius: 50%;
    background-color: #FFDFE2;
    padding: 10px;
    height: 200px;

}

#card-title2{
    color: #EF5268;
    font-size: 30px;
}

.botonCierre{
    display: flex;
    justify-content: end;
    margin: 10px;
}

.btnCerrarSesion{
    color: #FFDFE2;
    background-color: #4964F3;
    border: #4964F3 solid 1px;
    border-radius: 1px;
    
}

.btnCerrarSesion:hover{
    background-color: #EF5268;
    border: #EF5268 solid 1px;
    color: #FFDFE2;
}

/*Footer*/
.containerFoot-fluid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-family:'Century Gothic', sans-serif;
    background-color: #4964F3;
    color: white;
    font-size: 15px;
}

.redesFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.saludoFooter{
    flex: 6;
    font-size: 40px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.iconosRedesFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex: 5;
    justify-content: space-around;
    margin-bottom: 25px;

}

#facebook, #instagram, #tiktok, #whatsapp{
    color: white;
    font-size: 55px;
}

#facebook:hover, #instagram:hover, #tiktok:hover, #whatsapp:hover{
    transform: scale(1.2);
}

.cuerpoFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.logoFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.deCrochetFooter{
    flex: 3;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.linksFooter{
    flex: 3;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.contactoFooter{
    flex: 3;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#comentarios {
    text-decoration: none;
    color: white;
}

#telefono, #correo, #localizacion, #iconoComentario, #contactanos{
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.tituloFooter{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.text-reset{
    text-decoration: none;
}

.copyrightFooter{
    background-color: #4964F3;
    color: white;
    text-align: center;
    font-size: 15px;
}