.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-left: 10px;
}

.contenedor > div {
  width: 50%;

}

.titulo{
  color: #EF5268;
  font-family:'Century Gothic', sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.subtitulo{
  color: #EF5268;
  font-family:'Century Gothic', sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

#form{
  border: 2px solid #4964F3;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 100vh;
  margin-top: 40px;
  font-family:'Century Gothic', sans-serif;
  font-size: 15px;
  border-radius: 15px;
  padding: 10px;
  
}

#imagen{
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 100vh;
  padding-left: 80px;
  margin-top: 40px;

}

.btn{
  color: #FFDFE2;
}